.MuiAppBar-colorPrimary {
    background-color: #ff793f !important;
    -webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
 position: sticky;
}

.logo {
    height: 40px;
    background-color: aliceblue;
}
