.login {
    width: 100%;
    height: 100vh;
    background-color: #2C3A47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginn__logo {
    width: 200px;
}

.login__form {
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}

.login__welcomeText {
    font-size: 50px;
    color: #fff;
}

.login p {
    color: #fff;
}

.login__area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__email, .login__password {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__email > .MuiSvgIcon-root, .login__password > .MuiSvgIcon-root {
    font-size: 83px;
}

.login__email input , .login__password input {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.login__submitButtin {
    background-color: #ff793f !important;
    color: #fff !important;
    float: right;
    font-size: 18px !important;
    margin-top: 10px !important;
    padding: 2px 15px !important;
    border-radius: 30px !important;
}


.login__form button, .login__registerOption a{
    color: #ff793f;
    margin-top: 15px;
}

.login__registerOption {
    margin: 20px 0 0 10px;
}


hr {
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
hr:after {
    content: "OR TRY SOCIAL LOGIN";
    display: inline-block;
    position: relative; 
    top: -0.2em;  
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}

.social__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__login img {
    width: 70%;
}